#fp_titel{
  font-size: 5em;
}

#fp_jumbotron{
background-image: linear-gradient(90deg, #fff, #f1f1f1 , #fff);
}

.jumboanypage{
background-image: linear-gradient(90deg, #fff, #f1f1f1 , #fff);
}

a{
  text-decoration: none !important;
}

#firstlineformat::first-line{
  color: rgb(255, 0, 0);
  font-style: italic;
}

#tableEx{
  width: 20%;
}
