#fp_titel{
  font-size: 5em;
}

#fp_jumbotron{
background-image: linear-gradient(90deg, #fff, #f1f1f1 , #fff);
}

.jumboanypage{
background-image: linear-gradient(90deg, #fff, #f1f1f1 , #fff);
}

a{
  text-decoration: none !important;
}

#firstlineformat::first-line{
  color: rgb(255, 0, 0);
  font-style: italic;
}

#tableEx{
  width: 20%;
}

#megaknap{
  width: 50%;
  font-size: 5em;
}

.main_container{
  margin-top: 2em;
  box-shadow: 1px 1px 20px #c3c3c3, -1px -1px 20px #c3c3c3;
  border-radius: 2px;
}

.drop-that-shadow{
  box-shadow: -5px 5px 10px #c3c3c3;
}

.vertical-align{
margin-top: auto;
margin-bottom: auto;
}

.vert-space{
  margin-top: 3em !important;
  margin-bottom: 3em !important;
}

/* #####################################
      DARK MODE CSS
  #####################################*/

.t--light .jumboanypage{
  background-image: linear-gradient(90deg, #fff, #f1f1f1 , #fff);
}

.t--dark{
  background-color: #303030;
}

.t--dark .jumboanypage{
background-image: linear-gradient(90deg, #303030, #363636 , #303030);
}

.t--dark #fp_jumbotron{
  background-image: linear-gradient(90deg, #303030, #363636 , #303030);
}

.t--light .monospace{
  color: black;
}
.t--dark{
  color:white;
}

.t--dark .list-group-item{
  background-color: #363636;
}

.t--dark a{
  color: #ff8a1f;
}

.t--dark .navbar-dark{
  background-color: #303030 !important;
  box-shadow: 1px 1px 20px #8a8a8a, -1px -1px 20px #8a8a8a;
}
